<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <button type="button" onclick="location.href='/board/insert'" >글등록</button>
    <table border="1">
        <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일자</th>
        <th>수정일자</th>
    </tr>
        
        <th:block th:each="board : ${boardList}">
        <tr>
        <td th:text="${board.no}"></td>    
        <td > <a th:href="|/board/select?no=${board.no}|" th:text="${board.title}"></a></td>    
        <td th:text="${board.writer}"></td>    
        <td th:text="${#dates.format(board.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>    
        <td th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>    
         </tr>   
        </th:block>
    </table>

    <div>
        <!-- 처음 -->
        <a th:href="@{'?page=' + ${page.first}}">[처음]</a>
        <!-- 이전 -->
         <th:block th:if="${page.page !=page.first}">
           <a th:href="@{ '?page=' + ${page.prev}}">[이전]</a>

          </th:block>
        <!-- 페이지 번호 -->
          

        <!-- 
            #numbers/sequence(시작, 끝)
            : 시작번호부터 끝번호 까지 리스트를 생성
            -->
            <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
            <!-- 현재페이지 -->
             <th:block th:if="${page.page == no}">
                <b><span th:text="${no}"></span></b>
             </th:block>
             <th:block th:if="${page.page != no}">
                  <a th:href="@{'?page=' + ${no}}" th:text="${no}"></a>


                </th:block>
            </th:block>
            <!-- 다음 -->
            <th:block th:if="${page.page !=page.last}">
             <a th:href="@{'?page=' + ${page.next}}">[다음]</a>
            </th:block>
            <!-- 마지막 -->
            <a th:href="@{'?page=' + ${page.last}}">[마지막]</a>

    </div>

</body>
</html>